#tinymce h2, #tinymce h3{
    font-size: 1em !important;
}

#tinymce h2{
    font-weight: bold !important;
}

#tinymce h3{
    font-weight: normal !important;
}

#tinymce p.copyright{
    font-size: 0.80em;
}