#tinymce h2, #tinymce h3{
    font-size: 1em !important;
}

#tinymce h2{
    font-weight: bold !important;
}

#tinymce h3{
    font-weight: normal !important;
}

#profile_picture_img {
	width: 40px;
	height: 40px;
}
span#profile-picture-span {
	display: inline-block;
}

input#avatar-image-button {
	width: 150px;
}

#TB_ajaxContent {
	overflow-y: scroll;
}

.related_article_div{
    padding: 5px; 
    box-shadow: 1px 2px 10px gray;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}

.related_article_list{
    box-shadow: 1px 2px 2px #CCCCCC;
    margin: 10px;
    padding: 5px;
}

.related_article_list:hover{
    background: #BBBBBB;
}

#TB_ajaxContent::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

#TB_ajaxContent::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

#TB_ajaxContent::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

#TB_ajaxContent::-webkit-scrollbar-corner {
    background-color: transparent;
}

body.thickbox {
    overflow: hidden;
}

.red-color {
    color: red;
}

#preview-image {
    overflow: auto; 
    max-width: 1000px; 
    max-height: 550px;
}

.element-hidden {
    display: none;
}

#image-upload-spinner {
    margin: 0 auto; 
    float: none;
}

.author-page-thumbnail-preview {
    width: 100px;
    display: block;
    margin-top: 10px;
}

.team-page-thumbnail-preview {
    height: 100px;
}

/*#image-upload-modal {
    z-index: 1000000;
}*/

.reveal-modal, .media-modal {
    z-index: 1000000 !important;
}

.reveal-modal-bg {
    z-index: 999999 !important;
}

.crop-image-action span {
    float: none;
}

.ghost-author-profile-thumbnail {
    margin-top: 10px;
    display: none;
}

.ghost-author-profile-thumbnail div {
    display: inline-block;
}

.ghost-author-profile-thumbnail .team-page-thumbnail-preview {
    margin-left: 10px;
}

.post-new-php .media-modal{
    z-index: 2000000 !important;
}