
.icon-whatsapp:before { content: '\e879'; } /* '' */
.icon-list:before { content: '\e87d'; } /* '' */
.icon-kasra-emblem:before { content: '\e880'; } /* '' */
.icon-refresh:before { content: '\e805'; } /* '' */
.icon-loading:before { content: '\e804'; } /* '' */
.icon-firefox:before { content: '\e803'; } /* '' */
.icon-chrome:before { content: '\e87a'; } /* '' */
.icon-opera:before { content: '\e801'; } /* '' */
.icon-ie:before { content: '\e802'; } /* '' */
.icon-crown:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e850'; } /* '' */
.icon-search:before { content: '\e868'; } /* '' */
.icon-mail:before { content: '\e869'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e86a'; } /* '' */
.icon-star:before { content: '\e86b'; } /* '' */
.icon-star-empty:before { content: '\e86c'; } /* '' */
.icon-video:before { content: '\e86d'; } /* '' */
.icon-videocam:before { content: '\e86e'; } /* '' */
.icon-picture:before { content: '\e86f'; } /* '' */
.icon-camera:before { content: '\e870'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-cancel-circled:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-plus-circled:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-unlink:before { content: '\e811'; } /* '' */
.icon-link-ext:before { content: '\e812'; } /* '' */
.icon-attach:before { content: '\e813'; } /* '' */
.icon-bookmark-filled:before { content: '\e814'; } /* '' */
.icon-bookmark-empty:before { content: '\e815'; } /* '' */
.icon-thumbs-up-outline:before { content: '\e816'; } /* '' */
.icon-thumbs-up-filled:before { content: '\e872'; } /* '' */
.icon-reply:before { content: '\e818'; } /* '' */
.icon-reply-all:before { content: '\e819'; } /* '' */
.icon-forward:before { content: '\e81a'; } /* '' */
.icon-pencil:before { content: '\e81b'; } /* '' */
.icon-edit:before { content: '\e81c'; } /* '' */
.icon-print:before { content: '\e81d'; } /* '' */
.icon-comment:before { content: '\e81e'; } /* '' */
.icon-chat:before { content: '\e81f'; } /* '' */
.icon-comment-empty:before { content: '\e820'; } /* '' */
.icon-chat-empty:before { content: '\e821'; } /* '' */
.icon-direction:before { content: '\e822'; } /* '' */
.icon-trash:before { content: '\e824'; } /* '' */
.icon-doc:before { content: '\e825'; } /* '' */
.icon-doc-inv:before { content: '\e826'; } /* '' */
.icon-doc-text-inv:before { content: '\e827'; } /* '' */
.icon-folder-empty:before { content: '\e828'; } /* '' */
.icon-folder-open-empty:before { content: '\e829'; } /* '' */
.icon-phone:before { content: '\e82a'; } /* '' */
.icon-menu:before { content: '\e82b'; } /* '' */
.icon-cog:before { content: '\e82c'; } /* '' */
.icon-cog-alt:before { content: '\e82d'; } /* '' */
.icon-wrench:before { content: '\e82e'; } /* '' */
.icon-volume-off:before { content: '\e835'; } /* '' */
.icon-volume-up:before { content: '\e82f'; } /* '' */
.icon-clock:before { content: '\e830'; } /* '' */
.icon-resize-full:before { content: '\e831'; } /* '' */
.icon-resize-full-alt:before { content: '\e832'; } /* '' */
.icon-resize-small:before { content: '\e833'; } /* '' */
.icon-down-dir:before { content: '\e834'; } /* '' */
.icon-up-dir:before { content: '\e838'; } /* '' */
.icon-left-dir:before { content: '\e839'; } /* '' */
.icon-right-dir:before { content: '\e83a'; } /* '' */
.icon-down-open:before { content: '\e83b'; } /* '' */
.icon-left-open:before { content: '\e83c'; } /* '' */
.icon-right-open:before { content: '\e83d'; } /* '' */
.icon-up-open:before { content: '\e83e'; } /* '' */
.icon-angle-left:before { content: '\e83f'; } /* '' */
.icon-angle-right:before { content: '\e840'; } /* '' */
.icon-angle-up:before { content: '\e841'; } /* '' */
.icon-angle-down:before { content: '\e842'; } /* '' */
.icon-angle-circled-left:before { content: '\e843'; } /* '' */
.icon-kasra-logo:before { content: '\e87e'; } /* '' */
.icon-angle-circled-up:before { content: '\e845'; } /* '' */
.icon-angle-circled-down:before { content: '\e846'; } /* '' */
.icon-left:before { content: '\e836'; } /* '' */
.icon-right:before { content: '\e837'; } /* '' */
.icon-up:before { content: '\e847'; } /* '' */
.icon-down-big:before { content: '\e848'; } /* '' */
.icon-left-big:before { content: '\e849'; } /* '' */
.icon-right-big:before { content: '\e84a'; } /* '' */
.icon-up-big:before { content: '\e84b'; } /* '' */
.icon-left-circled:before { content: '\e84c'; } /* '' */
.icon-right-circled:before { content: '\e84d'; } /* '' */
.icon-up-circled:before { content: '\e84e'; } /* '' */
.icon-down-circled:before { content: '\e84f'; } /* '' */
.icon-cw:before { content: '\e851'; } /* '' */
.icon-ccw:before { content: '\e852'; } /* '' */
.icon-arrows-cw:before { content: '\e853'; } /* '' */
.icon-play:before { content: '\e854'; } /* '' */
.icon-play-circled:before { content: '\e855'; } /* '' */
.icon-play-circle:before { content: '\e817'; } /* '' */
.icon-signal:before { content: '\e823'; } /* '' */
.icon-award:before { content: '\e856'; } /* '' */
.icon-globe:before { content: '\e857'; } /* '' */
.icon-cloud:before { content: '\e858'; } /* '' */
.icon-flash:before { content: '\e859'; } /* '' */
.icon-align-left:before { content: '\e85a'; } /* '' */
.icon-align-center:before { content: '\e85b'; } /* '' */
.icon-align-right:before { content: '\e85c'; } /* '' */
.icon-align-justify:before { content: '\e85d'; } /* '' */
.icon-list-bulleted:before { content: '\e85e'; } /* '' */
.icon-indent-left:before { content: '\e85f'; } /* '' */
.icon-indent-right:before { content: '\e860'; } /* '' */
.icon-list-bullet:before { content: '\e861'; } /* '' */
.icon-list-numbered:before { content: '\e862'; } /* '' */
.icon-crop:before { content: '\e863'; } /* '' */
.icon-ellipsis:before { content: '\e864'; } /* '' */
.icon-ellipsis-vert:before { content: '\e865'; } /* '' */
.icon-sort-alt-up:before { content: '\e867'; } /* '' */
.icon-sort-alt-down:before { content: '\e866'; } /* '' */
.icon-sort-number-up:before { content: '\e873'; } /* '' */
.icon-sort-number-down:before { content: '\e874'; } /* '' */
.icon-gauge:before { content: '\e871'; } /* '' */
.icon-sitemap:before { content: '\e875'; } /* '' */
.icon-terminal:before { content: '\e876'; } /* '' */
.icon-android:before { content: '\e877'; } /* '' */
.icon-apple:before { content: '\e878'; } /* '' */
.icon-windows:before { content: '\e88c'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-picture-1:before { content: '\e890'; } /* '' */
.icon-menu-1:before { content: '\e892'; } /* '' */
.icon-flickr-1:before { content: '\e87c'; } /* '' */
.icon-flickr-circled:before { content: '\e87f'; } /* '' */
.icon-vimeo:before { content: '\e881'; } /* '' */
.icon-vimeo-circled:before { content: '\e885'; } /* '' */
.icon-twitter-2:before { content: '\e888'; } /* '' */
.icon-twitter-circled-1:before { content: '\e889'; } /* '' */
.icon-facebook-2:before { content: '\e88e'; } /* '' */
.icon-fb-circle:before { content: '\e89b'; } /* '' */
.icon-facebook-squared:before { content: '\e89c'; } /* '' */
.icon-gplus:before { content: '\e89d'; } /* '' */
.icon-gplus-circle:before { content: '\e89e'; } /* '' */
.icon-pinterest:before { content: '\e89f'; } /* '' */
.icon-pinterest-circled-1:before { content: '\e8a0'; } /* '' */
.icon-tumblr-1:before { content: '\e8a1'; } /* '' */
.icon-tumblr-circled:before { content: '\e8a2'; } /* '' */
.icon-linkedin-2:before { content: '\e8a3'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e8a4'; } /* '' */
.icon-instagram-1:before { content: '\e8a7'; } /* '' */
.icon-dropbox-1:before { content: '\e8a8'; } /* '' */
.icon-skype-1:before { content: '\e8a5'; } /* '' */
.icon-skype-circled:before { content: '\e8a6'; } /* '' */
.icon-compass:before { content: '\e80a'; } /* '' */
.icon-at:before { content: '\e809'; } /* '' */
.icon-grid:before { content: '\e87b'; } /* '' */
.icon-angle-circled-right:before { content: '\e844'; } /* '' */