/* Scss Document */

@include bp(papaBear){
	$gutter: 1.66%;
	$gutterAllowance: 2 * $gutter / 3;
	.kasraNewest { width: 21% - $gutterAllowance; }
	.kasraMostViewed { width: 32% - $gutterAllowance; }
	.kasraMostShared { width: 47% - $gutterAllowance; }
	.threeTwoOne { padding-left: $gutterAllowance;padding-right: $gutterAllowance; width: 33%;}
}
@include bp(mamaBear){
	.gutter {}
	$gutter: 2.43%; /*Gutter Allowance = number of gutters * gutter width / number of columns. */
	$gutterAllowance: 1 * $gutter / 2;
	.kasraNewest {display: none;  }
	.kasraMostViewed { width: 40% - $gutterAllowance; }
	.kasraMostShared { width: 60% - $gutterAllowance; }
	.threeTwoOne { padding-left: $gutterAllowance;padding-right: $gutterAllowance; width: 50%; }

}
@include bp(singleColumn){
	.gutter { display: none;}
	.kasraMostViewed, .kasraNewest { display: block; }
	.kasraMostShared { width: 100%; }
	#wrapper {max-width: 38em;}
	.threeTwoOne { width: 100%;}
}
@include bp(tabsWidth){
	.col-emblem, .triangle-bottom { display: none; }
	.kasraMostViewed, .kasraNewest { display: block; }
	.kasraMostShared, .kasraMostViewed { width: 100%;}
}
